# vim
[.𝓐𝓷𝓰𝓵𝓮 𝔁 𝓶𝓾𝓼𝓲𝓬_]*.sw[a-p]

# python
/venv/
__pycache__/

# Pyrogram
/*.py
!/main.py
!/userbot.py
!/generate-pyrogram-session-string.py
/*.ini
/*.session
/*.session-journal
/download/

# pytgcalls
/*.so
